/*Styling for Home page and top bar starts here*/
html {
	height: 100%;
}
body {
	font-size: 80%;
	font-family: "Proxima Nova";
	letter-spacing: 0.15em;
	background-color: #efefef;
	height: 100%;
}
#page {
	max-width: 1000px;
	min-width: 720px;
	margin: 10px auto;
	padding: 20px;
	border: 4px double #000;
	background-color: #fff;
	min-height: 90%
}
#logo img {
	width: 400px;
    margin: 0 auto;
    display: block;
}
nav {
	width: 735px;
	padding: 15px;
	margin: 0px auto;
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
	text-align: center;
}
li {
	display: inline;
	margin: 0px 35px;
}
.projects {
	display: inline-block;
    margin: 28px 162px;
}
figure:hover {
    transform: scale(1.1);
}
figure {
	display: inline-block;
	width: 202px;
	height: 170px;
	background-color: #e7e3d8;
	margin: 0px;	
	padding: 9px;
	text-align: left;
	transition: .3s transform ease;
}
figure img {
	width: 200px;
    height: 150px;
    border: 1px solid #d6d6d6;
}
figcaption {
	/*padding-left: 20px;*/
	text-align: center;
}
p {
	text-align: center;
	width: 600px;
	margin: 20px auto;
	font-weight: normal;
}
a {
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
}

.active,
a:hover {
	color: #ccc333;
}

/*Styling for Projects page starts here*/
.wrapper {
	width: 720px;
	margin: 0px auto;
	text-align: center;
}
.header {
	margin: 40px 0px 20px 0px;
}
.entry {
	width: 220px;
	height: 198px;
	display: inline-block;
	margin: 4px 2px;
}

.enlarge:on {
	transform:scale(2,2);
	transform-origin:0 0;
}
#contact p {
	font-size: 18px;
}
 
#contact a {
	text-transform: lowercase;
	color: blue;
	font-size: 18px;
}

#blog h1 {
	text-align: center;
}
